<!doctype html>
<html lang="en">

<head>
    <title>Library </title>

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="app.js"></script>


</head>

<body ng-app="Library">
    <div class="container" ng-controller="LibraryController">
        <h1>Library</h1>
        <form>
            
                <ol>
                    <li ng-repeat="eachBook in listOfBooks">{{eachBook}}
                        <button class="btn btn-danger closebtn" ng-click="deleteValue($index)">X</button>
                    </li>

                </ol>
            

            <input type="text" ng-model="book" class="form-control" ng-style="textBoxStyle"><br>
            <div class="form-group">
                <button type="submit" ng-click="enterValue()" class="btn btn-success addbtn">Add</button>
            </div>

            <div class="form-group message" ng-style="messageStyle">
                {{message}}

            </div>
        </form>

    </div>


</body>

</html>