.container{
    margin-top: 10%;
    width:500px;
    border:2px dotted;
    padding:20px;
}

li{
 
    padding:5px;
}
.closebtn{
    float:right;
    padding:2px 5px;
    
   
}

.addbtn{
    float:right;
}